<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">20131983</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_blog</property>
        <property name="hibernate.connection.username">wyj</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="Hits.hbm.xml"/>
        <mapping resource="User.hbm.xml"/>
        <mapping resource="Critique.hbm.xml"/>
        <mapping resource="Bloginfo.hbm.xml"/>
        <mapping resource="Article.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
